.img-form-profile {
  width: 260px;
  height: 260px !important;
  object-fit: cover;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.3);
}
.img-form-profile-admin {
  width: 260px;
  height: 304px !important;
  object-fit: cover;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.3);
}
.card-custom-border {
  border: 5px solid #eeeeee;
  border-radius: 15px;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.3);
}
.font-bold {
  font-weight: bold;
}
.icon-user-form {
  font-size: 20px;
}
.form-control {
  border-radius: 0.5rem !important;
}
.select2-container .select2-selection--single {
  height: 39px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 38px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 37px !important;
}
.cursor-pointer {
  cursor: pointer;
}
