.email_notif {
  padding-left: 10px;
  margin-top: 3px;
  color: #ff9292;
}
.text-center {
  text-align: center;
}
.card-movies {
  height: 255px;
  object-fit: cover;
}
.font-s15px {
  font-size: 15px;
}

@media (min-width: 768px) {
  .section {
    padding: 50px 0 !important;
  }
}

@media (max-width: 540px) {
  .dm-none {
    display: none;
  }
}
